# Copier ce fichier en ".env" puis remplacer les valeurs ci-dessous par de vrais mots de passe
# Ne jamais versionner le fichier ".env" lui-même (déjà exclu via .gitignore)

ORACLE_PWD=ChangeMoi123
ORDS_PWD=ChangeMoi123
APEX_PWD=ChangeMoi123
